html,
body {
  background: transparent;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

#info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 20px;
  animation: hide 1s ease-out forwards;
  animation-delay: 4s;
  user-select: none;
  display: inline-block;
  white-space: nowrap;
}

@keyframes hide {
  0% {
    opacity: 1;
    background-color: red;
  }

  100% {
    opacity: 0;
    background-color: blue;
  }
}